@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Rozha+One');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');


* {
  font-family: 'Cormorant Garamond', serif;
  /* font-family: 'Special Elite', cursive; */
}

h1 {
  opacity: 0.7;
  font-size: 100px;
  text-align: center;
}

.prompt-div span {
display: inline-block;
margin: 2px;
}

.prompt-div {
  /* border-style: solid;
   border-width: 1px; */
   background-color: white;
   margin: 20px;
   padding: 10px;
   border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  /* border: 10px solid #86B8B9; */
}

body {
  background-size: 100%;
  background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=95618c0e060665fcf0c9e489d8b22982&auto=format&fit=crop&w=1500&q=80");
}
.modal-content {
  text-align: center;
  line-height: 50px;
  background-color: #fefefe;
  padding-top: 30px;
  margin: auto;
  font-size: 20px;
  border-radius: 15px;
  width: 80%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  position:absolute;
    top: 50%;
    left: 50%;
    width:40em;
    height:20em;
    margin-top: -10em;
    margin-left: -20em;
    background-color: #FFFFFF;

}

#user-textbox {
   margin: 20px;
   background-color: white;
   padding: 10px;
   border-radius: 25px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#user-textbox[placeholder]:empty:before{
  content: attr(placeholder);
  opacity: 0.5;

}


.container {
  margin: 15px;
  /* background-color: #AFDADB; */

}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.correct-score-div, .incorrect-score-div, #safeTimerDisplay {
    margin: 20px;
    background-color: white;
    padding: 10px;
    display: inline;
    display: block;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 25px;
    text-align: center;
    padding-left:
}

.play-again {
  display: block;
  width: 15%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 340px;
  margin-top: 15px;
  font-size: 20px;
}

button {

}
