@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

* {
  font-family: 'Cormorant Garamond', serif;
}

.prompt-div span {
display: inline-block;
margin: 2px;
}

body {
  background-color: #AFDADB;
}
.modal-content {
  text-align: center;
  line-height: 100px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  width: 80%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:14em;
    margin-top: -7em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 10px solid #86B8B9;
    background-color: #FFFFFF;

}

#user-textbox {
  border-style: solid;
   border-width: 1px;
   margin: 5px;
}

.container {
  margin: 15px;
  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* .lefthalf {
 grid-column: 1;
 background-color: #FFFFFF;
}

.righthalf {
 grid-column: 2;
 background-color: #D8BFBF;
} */ */
